# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
venv/

# Secrets / env
.env
*.env
.databrickscfg

# Local data dumps
*.json
data/
raw/

# OS / editor
.DS_Store
.vscode/
.idea/